.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.categories button {
  border: 1px solid black;
  background: white;
  padding: 12px 28px;
  cursor: pointer;
  transition: 0.3s;
}

.categories button:hover {
  background: black;
  color: white;
}