.navbar{

display:flex;

align-items:center;

justify-content:space-between;

padding:18px 50px;

position:relative;

background:white;

border-bottom:1px solid #ddd;
}

.nav-links{

display:flex;

gap:35px;

list-style:none;
}

.nav-links li{

font-weight:700;

cursor:pointer;

padding-bottom:20px;
}

.nav-links li:hover{

border-bottom:3px solid black;
}

.right-side{

display:flex;

align-items:center;

gap:20px;
}

.right-side input{

width:220px;

padding:10px;

background:#eceff1;

border:none;
}