.products-section{

    width:96%;

    margin:60px auto;
}

.products-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;
}

.products-header h2{

    font-size:16px;

    font-weight:500;
}

.filter-btn{

    padding:12px 18px;

    border:1px solid black;

    background:white;

    cursor:pointer;

    font-weight:700;
}

.products-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:2px;
}

@media(max-width:1100px){

.products-grid{

grid-template-columns:repeat(3,1fr);

}

}

@media(max-width:850px){

.products-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.products-grid{

grid-template-columns:1fr;

}

}